@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alice&family=Almarai&family=Dosis&family=Inter:wght@100;200;300;400;500;600&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-family: Inter;
}
body
{
    background:linear-gradient(to right,#00406c,#4267b3);
    height: 100%;
    height: 900px;
    overflow: hidden;
}
.center
{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    gap: 2rem;
}
h1
{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

button a
{
    text-decoration: none;
    color: white;
}
button
{
    align-items: center;
    padding: 20px;
    background-color: #083e60;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 18px;
}
button:hover
{
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
    background-color: #00406c;
    cursor: pointer;
    box-shadow: 5px 5px 8px rgb(2, 15, 56);
}